* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, hsl(263, 89%, 45%), hsl(207, 80%, 48%));
}

.cartao {
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.8);
    overflow: hidden;
    box-shadow: 0px 0px 15px hsl(44, 97%, 47%);
}

.cartao .cartao-header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom right, hsl(44, 97%, 47%), hsl(44, 97%, 67%));
}

.cartao .usuario-foto {
    border: solid hsl(0, 100%, 50%);
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 10px auto;
    border: solid 5px hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px hsl(0, 0%, 20%);
    transition: 0.2s;
    background-image: url("batman.png");
    background-size: cover;
}

.cartao .usuario-foto:hover {
    box-shadow: 0px 0px 5px hsl(0, 0%, 20%);
    scale: 1.05;
    border: solid 3px hsl(0, 0%, 100%);
    cursor: pointer;
}

.cartao .area-usuario {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cartao .area-usuario h1 {
    font-size: 32px;
}

.cartao .area-usuario p {
    font-weight: 700;
    color: hsl(0, 0%, 20%);
}

.cartao .area-usuario .informacoes {
    margin: 20px auto;
    background-color: hsl(46, 100%, 85%);
    width: 90%;
    padding: 20px 10px;
    border-radius: 10px;
    border-left: solid 5px hsl(44, 97%, 47%);
}

.info-linha .categoria,
.valor {
    margin: 10px 0 10px 0;
}

.info-linha .categoria {
    display: inline-block;
    width: 49%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
}

.info-linha .valor {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.cartao .informacoes hr {
    border: solid 1px hsl(46, 82%, 74%);
    border-radius: 10px;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.redes-sociais .botao{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
}

.redes-sociais .botao:hover{
    filter: brightness(90%);
}

.redes-sociais .github{
    background-color: hsl(0, 0%, 6%);
    color: white;
}

.redes-sociais .linkedin{
    color: hsl(0, 0%, 100%);
    background-color: hsl(210, 90%, 40%) ;
}

.redes-sociais .portfolio{
    background-color: hsl(261, 96%, 44%);
    color: hsl(0, 0%, 100%);
}

ion-icon{
    font-size: 24px;
}

.btn-principal button {
    width: 90%;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: 0px 0px 5px hsl(0, 0%, 59%);
    margin: 20px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(44, 97%, 47%);
    border: none;
    transition: 0.1s;
    cursor: pointer;
}

.btn-principal button:hover {
    box-shadow: 0px 0px 10px hsl(0, 0%, 59%);
    background-color: hsl(44, 97%, 57%);
}
.btn-principal button:active {
    box-shadow: 0px 0px 3px hsl(0, 0%, 59%);
    background-color: hsl(44, 93%, 53%);
}
